extends ../layout

block content
  h1 Admin
  h2 Articles
  a(href='/admin/add') Add article
  ul
  each article in articles
    li
      a(href='/admin/update/#{article._id}') #{article.title}
      span #{article.created}
      if article.updated
        span #{article.updated}