extends ../layout

block content
  h1 Update '#{title}'
  form(method='post' action='/admin/update')
    include ../partials/_articleForm
    a(href='/admin') Back
    input(type='submit' value='Submit')