input(type='hidden' name='articleId' value=_id)
label(for='title') Title
input(id='title' name='title' type='text' value=title)
label(for='content') Content
textarea(id='content' name='content')=content